{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


<!-- <div class="container">
  <div class="row">

    <div class="col-lg-8">
      <div class="card">
        <div class="card-header border-0">
          <h3 class="card-title">Products</h3>
          <div class="card-tools">
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-download"></i>
            </a>
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-striped table-valign-middle">
            <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Sales</th>
              <th>More</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <img src="{{ url_for('static', filename='img/default-150x150.png')}}" alt="Product 1" class="img-circle img-size-32 mr-2">
                Some Product
              </td>
              <td>$13 USD</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  12%
                </small>
                12,000 Sold
              </td>
              <td>
                <a href="#" class="text-muted">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="{{ url_for('static', filename='img/default-150x150.png')}}" alt="Product 1" class="img-circle img-size-32 mr-2">
                Another Product
              </td>
              <td>$29 USD</td>
              <td>
                <small class="text-warning mr-1">
                  <i class="fas fa-arrow-down"></i>
                  0.5%
                </small>
                123,234 Sold
              </td>
              <td>
                <a href="#" class="text-muted">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="{{ url_for('static', filename='img/default-150x150.png')}}" alt="Product 1" class="img-circle img-size-32 mr-2">
                Amazing Product
              </td>
              <td>$1,230 USD</td>
              <td>
                <small class="text-danger mr-1">
                  <i class="fas fa-arrow-down"></i>
                  3%
                </small>
                198 Sold
              </td>
              <td>
                <a href="#" class="text-muted">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="{{ url_for('static', filename='img/default-150x150.png')}}" alt="Product 1" class="img-circle img-size-32 mr-2">
                Perfect Item
                <span class="badge bg-danger">NEW</span>
              </td>
              <td>$199 USD</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  63%
                </small>
                87 Sold
              </td>
              <td>
                <a href="#" class="text-muted">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">First Check-in</h5>

          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card card-primary card-outline">
        <div class="card-body">
          <h5 class="card-title">Last Check-in</h5>

          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div><!-- /.card -->
    </div>
    <!-- /.col-md-6 -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title m-0">Featured</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">Special title treatment</h6>

          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title m-0">Featured</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">Special title treatment</h6>

          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div> -->